<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>hieunt.filters.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>hieunt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hieunt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>hieunt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewRoomController</servlet-name>
        <servlet-class>hieunt.controllers.StaffViewRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffInsertRoomController</servlet-name>
        <servlet-class>hieunt.controllers.StaffInsertRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEditRoomController</servlet-name>
        <servlet-class>hieunt.controllers.StaffEditRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateRoomController</servlet-name>
        <servlet-class>hieunt.controllers.StaffUpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteRoomController</servlet-name>
        <servlet-class>hieunt.controllers.StaffDeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffViewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffInsertProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffInsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEditProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffDeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>hieunt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewServiceController</servlet-name>
        <servlet-class>hieunt.controllers.StaffViewServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffInsertServiceController</servlet-name>
        <servlet-class>hieunt.controllers.StaffInsertServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEditServiceController</servlet-name>
        <servlet-class>hieunt.controllers.StaffEditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateServiceController</servlet-name>
        <servlet-class>hieunt.controllers.StaffUpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteServiceController</servlet-name>
        <servlet-class>hieunt.controllers.StaffDeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCustomerController</servlet-name>
        <servlet-class>hieunt.controllers.AdminViewCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewStaffController</servlet-name>
        <servlet-class>hieunt.controllers.AdminViewStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeRoleController</servlet-name>
        <servlet-class>hieunt.controllers.AdminChangeRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoadInfoController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerLoadInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdateInfoController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerUpdateInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoadRoomController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerLoadRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoadProductController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerLoadProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoadServiceController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerLoadServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddToCartController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerAddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMyCartController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerMyCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRemoveCartController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerRemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookRoomController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerBookRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMyBillController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerMyBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerViewDetailBillController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerViewDetailBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCheckOutController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerCheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewBillController</servlet-name>
        <servlet-class>hieunt.controllers.StaffViewBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCheckOutController</servlet-name>
        <servlet-class>hieunt.controllers.StaffCheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffSearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddProductToBillController</servlet-name>
        <servlet-class>hieunt.controllers.StaffAddProductToBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRemoveProductBillController</servlet-name>
        <servlet-class>hieunt.controllers.StaffRemoveProductBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddServiceToBillController</servlet-name>
        <servlet-class>hieunt.controllers.StaffAddServiceToBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRemoveServiceBillController</servlet-name>
        <servlet-class>hieunt.controllers.StaffRemoveServiceBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateQuantityProductBillController</servlet-name>
        <servlet-class>hieunt.controllers.StaffUpdateQuantityProductBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCheckOutTotalPriceController</servlet-name>
        <servlet-class>hieunt.controllers.StaffCheckOutTotalPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMyLevelController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerMyLevelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewHistoryStaffController</servlet-name>
        <servlet-class>hieunt.controllers.AdminViewHistoryStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddBillCoinController</servlet-name>
        <servlet-class>hieunt.controllers.StaffAddBillCoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddBillChooseInfoController</servlet-name>
        <servlet-class>hieunt.controllers.StaffAddBillChooseInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddBillChooseProductController</servlet-name>
        <servlet-class>hieunt.controllers.StaffAddBillChooseProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffConfirmBillCoin</servlet-name>
        <servlet-class>hieunt.controllers.StaffConfirmBillCoin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMyBillCoinController</servlet-name>
        <servlet-class>hieunt.controllers.CustomerMyBillCoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchRoomController</servlet-name>
        <servlet-class>hieunt.controllers.StaffSearchRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewRoomController</servlet-name>
        <url-pattern>/StaffViewRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffInsertRoomController</servlet-name>
        <url-pattern>/StaffInsertRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEditRoomController</servlet-name>
        <url-pattern>/StaffEditRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateRoomController</servlet-name>
        <url-pattern>/StaffUpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteRoomController</servlet-name>
        <url-pattern>/StaffDeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewProductController</servlet-name>
        <url-pattern>/StaffViewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffInsertProductController</servlet-name>
        <url-pattern>/StaffInsertProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEditProductController</servlet-name>
        <url-pattern>/StaffEditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateProductController</servlet-name>
        <url-pattern>/StaffUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteProductController</servlet-name>
        <url-pattern>/StaffDeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewServiceController</servlet-name>
        <url-pattern>/StaffViewServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffInsertServiceController</servlet-name>
        <url-pattern>/StaffInsertServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEditServiceController</servlet-name>
        <url-pattern>/StaffEditServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateServiceController</servlet-name>
        <url-pattern>/StaffUpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteServiceController</servlet-name>
        <url-pattern>/StaffDeleteServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCustomerController</servlet-name>
        <url-pattern>/AdminViewCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewStaffController</servlet-name>
        <url-pattern>/AdminViewStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeRoleController</servlet-name>
        <url-pattern>/AdminChangeRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoadInfoController</servlet-name>
        <url-pattern>/CustomerLoadInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdateInfoController</servlet-name>
        <url-pattern>/CustomerUpdateInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoadRoomController</servlet-name>
        <url-pattern>/CustomerLoadRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoadProductController</servlet-name>
        <url-pattern>/CustomerLoadProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoadServiceController</servlet-name>
        <url-pattern>/CustomerLoadServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddToCartController</servlet-name>
        <url-pattern>/CustomerAddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMyCartController</servlet-name>
        <url-pattern>/CustomerMyCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRemoveCartController</servlet-name>
        <url-pattern>/CustomerRemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookRoomController</servlet-name>
        <url-pattern>/CustomerBookRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMyBillController</servlet-name>
        <url-pattern>/CustomerMyBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerViewDetailBillController</servlet-name>
        <url-pattern>/CustomerViewDetailBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCheckOutController</servlet-name>
        <url-pattern>/CustomerCheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewBillController</servlet-name>
        <url-pattern>/StaffViewBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCheckOutController</servlet-name>
        <url-pattern>/StaffCheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchProductController</servlet-name>
        <url-pattern>/StaffSearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddProductToBillController</servlet-name>
        <url-pattern>/StaffAddProductToBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRemoveProductBillController</servlet-name>
        <url-pattern>/StaffRemoveProductBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddServiceToBillController</servlet-name>
        <url-pattern>/StaffAddServiceToBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRemoveServiceBillController</servlet-name>
        <url-pattern>/StaffRemoveServiceBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateQuantityProductBillController</servlet-name>
        <url-pattern>/StaffUpdateQuantityProductBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCheckOutTotalPriceController</servlet-name>
        <url-pattern>/StaffCheckOutTotalPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMyLevelController</servlet-name>
        <url-pattern>/CustomerMyLevelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewHistoryStaffController</servlet-name>
        <url-pattern>/AdminViewHistoryStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddBillCoinController</servlet-name>
        <url-pattern>/StaffAddBillCoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddBillChooseInfoController</servlet-name>
        <url-pattern>/StaffAddBillChooseInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddBillChooseProductController</servlet-name>
        <url-pattern>/StaffAddBillChooseProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffConfirmBillCoin</servlet-name>
        <url-pattern>/StaffConfirmBillCoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMyBillCoinController</servlet-name>
        <url-pattern>/CustomerMyBillCoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchRoomController</servlet-name>
        <url-pattern>/StaffSearchRoomController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
